@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: elegantGaramond;
    src: url(imgsAndFonts/fonts/ElegantGaramond/elegant-garamond.otf)
  }

  @font-face {
    font-family: elegantGaramondItalic;
    src: url(imgsAndFonts/fonts/ElegantGaramond/elegant-garamond-italic.otf)
  }

  @font-face {
    font-family: elegantGaramondBold;
    src: url(imgsAndFonts/fonts/ElegantGaramond/elegant-garamond-bold.otf)
  }

  @font-face {
    font-family: Planewalker;
    src: url(imgsAndFonts/fonts/Planewalker/Planewalker.otf)
  }

  @font-face {
    font-family: PlanewalkerBold;
    src: url(imgsAndFonts/fonts/Planewalker/Planewalker\ Bold.otf)
  }

  @font-face {
    font-family: PlanewalkerBoldItalic;
    src: url(imgsAndFonts/fonts/Planewalker/Planewalker\ Bold\ Italic.otf)
  }

  @font-face {
    font-family: PlanewalkerItalic;
    src: url(imgsAndFonts/fonts/Planewalker/Planewalker\ Italic.otf)
  }


* {
    margin: 0%;
    padding: 0%;
}

body {
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: #effcff;
}

/* color pallet

__ BACKGROUND __
*general*
light brown          #bfa16d


*nav bar*
medium brown         #996440
*nav bar border (absolute and gradient)*     
absolute blue line   #6078a2
gradient light blue  #5277a1
gradient dark blue   #4f637c


*historic boxes/card background (gradient darker to ligther)*
lightest brown       #94784c
                     #876d44
                     #7b623b
darker brown         #634b2d (principal)
                     #574126
                     #4d3821
                     #41301e
darkest brown        #34291c               
                   

__  MATH BUTTONS __
*soft buttons*
background           #7995a1
border and text      #376268

*hard buttons*
background           #376268
border               #2f3a3b 
text                 #93bdd6 (test)

__ MAIN HP DISPLAY __
*preText*
                     #2f3a3b
*mainHP (gradient)*
ligtest blue          #93bdd6   
darkest blue          #2f3a3b


__ PASS BUTTON __
background            #8d4b31
letters colours       #e9dfe4 , #2f3a3b , #b4441f (test)
border                #b4441f


__ HISTORIC BOX __
backgound hist boxes  #634b2d


*/

/*  ^^ first frame ^^    */


/* vvv GLOBAL vvv*/
#container {
    height: 100vh;
    width: 100vw;
    background-color: #bfa16d;
}

/* ^^^ GLOBAL ^^^*/



/* vvv PLAYERS CONTAINER vvv */
.miniContainer {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mainPlayerDisplay {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* VV mainPlayerDisplay content VV */

.mathButtonsDisplay, .MainHpDisplay, .passDiv { 
    width: 26%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* VV Math buttons vv */
.mathButtonsBoxes {
    width: 100%;
    height: 20%;

}

.mathButton {
    width: 100%;
    height: 100%;
}

.softButton {
    width: 80%;
    height: 100%;
    border: 1px solid #376268;
    color: #376268;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3vh;
    background-color: #7995a1;
}

.hardButton {
    width: 90%;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 3.1vh;
    background-color: #376268;
    border: 3px solid #2f3a3b;
    color: #93bdd6;
}
/* ^^ Math buttons ^^ */


/* VV hpDisplayDiv vv */
.mainHpDisplayContentDivs {
    width: 100%;
    height: calc(100%/3);
}

.mainHpPreText {
    font-family: elegantGaramondBold;
    font-size: 2vh;
}

.mainHpContent {
    font-family: Planewalker;
    font-size: 5.8vh;
    background: -webkit-linear-gradient(#93bdd6, #2f3a3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.003em #6078a2;
}

.curVarPreText {
    font-family: elegantGaramondBold;
    font-size: 1.7vh;
}

.curVarContent {
    font-family: elegantGaramond;
    font-size: 2vh;
}
/* ^^ hpDisplayDiv ^^ */


/* VV passDiv vv */
#passP1, #passP2 {
    align-self: center;
    width: 80%;
    height: 17%;
    font-family: elegantGaramondBold;
    border: 2px solid #001522;
    border-radius: 3em;
    font-size: 4vh;
    background-color: #569B95; /* For browsers that do not support gradients */
    background-image: linear-gradient(to top right, #408781, #69c6c1);
    color: #fcebad;
    text-shadow: -2px 2px 0 #1850A3,
                2px 2px 0 #1850A3,
                2px -2px 0 #1850A3,
                -2px -2px 0 #1850A3;
}
/* ^^ passDIv ^^ */

/* ^^ mainPlayerDisplay ^^ */

/* vvv HISTORIC BAR vvv */
.turnsHistoric {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.historicBox {
    height: 100%;
    width: 15%;
    background-color: #634b2d;
    border-radius: 1em;
}

.yourHpVariationSubTitle, .enemiesHpVariationSubTitle {
    width: 100%;
    height: calc(75%/2);
    font-size: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#p1historicBox2, #p2historicBox2 {
    box-shadow: #361f09 2px 5px 2px 4px;
}

.turnIndicatorSubTitle, .turnIndicator {
    width: 100%;
    height: 25%;
    background-color: #AE6738;
    font-size: 1.8vh;
    border-radius: 1em 1em 0em 0em;
}

.preTextHistBox {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-content: end;
    justify-content: center;
    text-align: end;
    font-family: elegantGaramondBold;
}



.upBox {
    width: 100%;
    height: calc(75%/2);
}

.downBox {
    width: 100%;
    height: calc(75%/2);
    border-radius: 0em 0em 1em 1em;
}

/* ^^^ HISTORIC BAR ^^^ */

/* ^^^ PLAYERS CONTAINER ^^^ */





/* vvv  DIVIDER  vvv */
#divider {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
}
.playerIndicator {
    width: 100%;
    height: 35%;
    font-family: PlanewalkerBoldItalic;
    font-size: 1.6vh;
    color: #B63829;
    text-shadow: #001522 1px 1px 3px ;
}

#nav {
    width: 90%;
    height: 30%;
    align-self: center;
    border: 3px solid #6078a2;
    border-radius: 3em;
    background-color: #996440;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navDivs{
    width: 20%;
    height: 100%;
}

#pageTitle {
    font-size: 1.8vh;
    font-family: elegantGaramondBold;
    margin-top: 3%;
    color: #7FCEEE;
    text-shadow: -1px 1px 0 #1850A3,
                1px 1px 0 #1850A3,
                1px -1px 0 #1850A3,
                -1px -1px 0 #1850A3;
}


/* ^^^  DIVIDER  ^^^ */