
@font-face {
    font-family: elegantGaramond;
    src: url(imgsAndFonts/fonts/ElegantGaramond/elegant-garamond.otf)
  }

  @font-face {
    font-family: elegantGaramondItalic;
    src: url(imgsAndFonts/fonts/ElegantGaramond/elegant-garamond-italic.otf)
  }

  @font-face {
    font-family: elegantGaramondBold;
    src: url(imgsAndFonts/fonts/ElegantGaramond/elegant-garamond-bold.otf)
  }

  @font-face {
    font-family: Planewalker;
    src: url(imgsAndFonts/fonts/Planewalker/Planewalker.otf)
  }

  @font-face {
    font-family: PlanewalkerBold;
    src: url(imgsAndFonts/fonts/Planewalker/Planewalker\ Bold.otf)
  }

  @font-face {
    font-family: PlanewalkerBoldItalic;
    src: url(imgsAndFonts/fonts/Planewalker/Planewalker\ Bold\ Italic.otf)
  }

  @font-face {
    font-family: PlanewalkerItalic;
    src: url(imgsAndFonts/fonts/Planewalker/Planewalker\ Italic.otf)
  }


* {
    margin: 0%;
    padding: 0%;
}

body {
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: #6D451E;
}

/* color pallet

__ BACKGROUND __
dark brown           #6D451E
light brown          #AE6738

__ ELEMENTS __
aqua green           #569B95
light aqua green     #5BC5C0

__ Logo color ___
darker blue          #1850A3
blue                 #148FCC
lighter blue         #7FCEEE

__ DETEAILS __
light purple         #7394BF

__ ATENTION __
      red            #B63829


__ Black and WHITE __
black               #001522
white               #effcff

*/

/*  ^^ first frame ^^    */


#nav {
    width: 100%;
    height: 6vh;
    background-color: #AE6738;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3.4vh;
    font-family: Planewalker;
    color: #7FCEEE;
    text-shadow: -1px 1px 0 #1850A3,
                1px 1px 0 #1850A3,
                1px -1px 0 #1850A3,
                -1px -1px 0 #1850A3;
}

#struc {
    width: 100vw;
    height: 94vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#options {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 1.2em;
    border: 3px solid #7394BF;
    background-color: #fff9ea;
    box-shadow: 1.2em 1em 2em 0.4em #3e240a;
    
}

.refs {
    height: 8%;
    width: 85%;
    background-color: #569B95; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #569B95, #8ff3ee);
    border: 2px solid #001522;
    border-radius: 0.4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
}

h2 {
    font-family: Planewalker;
    font-size: 2.3vh;
    color: #001522;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: elegantGaramondBold;
    font-size: 1.7vh;
}